<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boradcast Emit and On</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        <h2>{{message}}</h2>
        <div ng-controller="yourController">
            <input type="text" ng-model="msg">
<input type="button" value="emit" ng-click="handleClick(msg)">
        </div>
    </div>
    </body>
   <script> 
   var app=angular.module("myApp",[]);
   app.controller("myController",function($scope){
$scope.$on("event",function(event,args){
    $scope.message=args.message;
    console.log(args.message);
});
   });
   app.controller("yourController",function($scope){
$scope.handleClick=function(msg){
$scope.$emit("event",{message:msg});
};
   });
   </script> 

</html>