<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ngModelFunction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">

    Click on name: <h1 ng-click="changeName()">{{firstname}}</h1>
    <ul>
        <li  ng-repeat="x in name">
            {{x.name+' - '+x.country}}
        </li>
    </ul>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function ($scope) {
            $scope.firstname = "Jhon";
            $scope.changeName = function () {
                if ($scope.firstname == "Jhon")
                    $scope.firstname = "David";
                else
                    $scope.firstname = "Jhon";
            }
$scope.name=[{name:'raju',country:'india'},{name:'jhon',country:'us'},{name:'smith',country:'Aus'},{name:'Styne',country:'SA'}];

        });
    </script>
</body>

</html>