<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services in Angularjs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="myController">
        <h2>Example for the $location Service , due to croos orgin issue ,impleneted this example in visual studio</h2>
        <span>{{locationName}}</span>
    </div>
    <div ng-controller="httpGetcontroller">
        <h2>Example for the $http Service</h2>
        <div>
            {{myGetData}}
        </div>
    </div>
    <div ng-controller="timeoutcontroller">
        <h2>$timeout example</h2>
        <span>{{msg}}</span>
    </div>
    <div ng-controller="intervalController">
        <h2>Interval example</h2>
        The time is: {{dateTime}}
    </div>
    <div ng-controller="customServiceController">
        <p>Please enter value: <input type="text" ng-change="txtChange(inputVal)" ng-model="inputVal" > </p>
        <p>entered value in uppercase :<span>{{myVal}}</span></p>
        
        <ul>
            <li ng-repeat="x in names">{{x.name | myFilterForService}}</li>
        </ul>
    </div>
    <script> 
        var app = angular.module("myApp", []);
        app.service("myService", function () {
            this.myFun = function (x) {
                
                return x.toUpperCase();
            };
        });
app.filter("myFilterForService",['myService',function(myService){
return function(y)
{
   
return myService.myFun(y);
}

}]);
        app.controller("myController", function ($scope, $location) {
            $scope.locationName = $location.absUrl();

        });
        app.controller("httpGetcontroller", function ($scope, $http) {

            $http.get("http://tutorgirish.com/CoursesList.php").then(function (response) {
                $scope.myGetData = response.data;
            });





        });
        app.controller("timeoutcontroller", function ($scope, $timeout) {
            $scope.msg = "Hello world !";
            $timeout(function () {
                $scope.msg = "How are you today ?";
            }, 2000);
        });
        app.controller("intervalController", function ($scope, $interval) {
            $scope.dateTime = new Date().toLocaleTimeString();
            $interval(function () {
                $scope.dateTime = new Date().toLocaleTimeString();
            }, 1000)

        });
        app.controller("customServiceController", function ($scope, myService) {
            $scope.names = [
                { name: 'Jani', country: 'Norway', sal: '90' },
                { name: 'Carl', country: 'Sweden', sal: '100' },
                { name: 'Margareth', country: 'England', sal: '70' },
                { name: 'Hege', country: 'Norway', sal: '50' },
                { name: 'Joe', country: 'Denmark', sal: '70' },
                { name: 'Gustav', country: 'Sweden', sal: '40' },
                { name: 'Birgit', country: 'Denmark', sal: '120' },
                { name: 'Mary', country: 'England', sal: '80' },
                { name: 'Kai', country: 'Norway', sal: '140' }
            ];

           $scope.txtChange=function(test){
            $scope.myVal = myService.myFun(test)
           }
        });
    </script>
</body>

</html>